{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if form %}
<form method="POST">
    {% csrf_token %}
    <h1>Дополнительные параметры для поиска</h1>
    <br>
    {{form|crispy}}
    <button class="btn btn-primary" type="submit">Поиск</button>
</form>
{% endif %}
{% if jobs|length != 0 %}
<h1 xmlns="http://www.w3.org/1999/html">Самыe популярные и новые запросы: </h1>
<table class="table" id="adds">
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <a style="width:100%" class="btn btn-primary" href="{% url 'download' %}" name="excel">Скачать Excel файл</a>
        </div>
    </div>
    <hr>
        <thead>
          <tr>
            <th scope="col">Название Обьявления</th>
            <th scope="col">Телефон</th>
            <th scope="col">Рубрика</th>
            <th scope="col">Имя</th>
            <th scope="col">Дата Регистрации</th>
            <th scope="col">Цена</th>
            <th scope="col">Дата добавления на сайт</th>
          </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
          <tr>
            <td><a href="{{ job.link }}">{{ job.title }}</a></td>
            <td>{{ job.phone }}</td>
            <td>{{ job.heading }}</td>
            <td>{{ job.name }}</td>
            <td>{{ job.user_since }}</td>
            <td>{{ job.price }}</td>
            <td>{{ job.time }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endif %}
{% endblock %}
{% block scripts %}
  <script>
        $(document).ready( function () {
            $('#adds').DataTable();
        } );
  </script>
{% endblock %}